body{
    margin: 15px;
}
h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
}
h2{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
p{
    font-size: x-large;
}
.imagem{
    border-radius: 30px;
    width: 25%;
    display: block;
    margin: auto;
}
#logo{
    display: block;
    margin: auto;
    width: 20%;
}
.menu{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #459900;
    padding-top: 8px;
    border-radius: 30px;
    display: flex;
    flex-flow: row nowrap;
}
.link-menu{
    text-decoration: none;
    color: white;
    padding: 8px;
    flex-grow: 1
}
.ultimo-post{
    text-align: center;
    display: block;
    border: solid #459900 5px;
    border-radius: 30px;
    padding-bottom: 1.5%;
}
.btn-ler{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #459900;
    color: white;
    border-radius: 30px;
    text-align: center;
    
}
.outros-posts{
    padding-top: 4%;
    display: flex;
    flex-direction: row;
    border-radius: 30px;
}
.imagens{
    border-radius: 30px;
    width: 70%;
    margin-left: 18%;
    margin-right: 18%;
}
